.typing {
    width: 100%;
    min-height: 115px;
    height: 115px;
    overflow: hidden;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    position: relative;
}

.typing .hover-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 900px;
    height: 115px;
    position: fixed;
}

.typing.active > .word {
    filter: blur(0);
}

.typing.active > .hover-text {
    opacity: 0;
}