.word {
    position: relative;
    width: max-content;
    height: max-content;
    user-select: none;
    filter: blur(4px);
}

.word .word-letters {
    margin: auto;
    font-size: 24px;
    z-index: 99;
    opacity: 0.5;
}

.word .word-letters * {
    width: 16.61px !important;
}

.word .word-letters span#empty {
    color: #5b5b5b !important;
}

.word .word-letters span#true {
    color: #d3a913 !important;
}

.word .word-letters span#false {
    color: #d96060 !important;
}

.word .word-input {
    all: unset;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: transparent;
    caret-color: #5b5b5b;
}

.word .word-input::selection {
    color: transparent;
}


.word:focus-within > .word-letters {
    opacity: 1;
    border-bottom: 1px solid #d3a913;
}