@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --color-1: #090909;
    --color-2: #101010;
    --color-3: rgba(58, 58, 58, 0.15);

    --color-5: #d3a913;
    --color-6: #afafaf;
    --color-7: #5b5b5b;
    --color-8: #d96060;
}

body, html {
    margin: 0;
    background-color: var(--color-1);
    color: var(--color-5);
    font-family: 'Roboto Mono', monospace;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100vh;
    margin: auto;
    gap: 45px;
}