@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body, html {
    margin: 0;
    background-color: #090909;
    color: #d3a913;
    font-family: 'Roboto Mono', monospace;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100vh;
    margin: auto;
    gap: 80px;
}